@model WebApplication1.Areas.Security.Models.UserViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> </h2>
<header class=" row content-header">
    <div class=" col-md-6">
        <h2>Users</h2>
    </div>
    <div class=" col-md-6 content-action">

        <a href="@Url.Action("Index")" class="btn btn-link">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back to List
        </a>
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-toolbar">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
        </a>
    </div>
</header>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Age
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            Gender
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

    </dl>
</div>
